/* This CSS stylesheet based on the code from the Bootstrap CSS framework (http://getbootstrap.com/) */

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width:100%;
    margin-bottom: 8px;
}
.input-sm {
    border-radius: 3px;
    font-size: 14px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
    width:50%;
}
textarea.form-control {
    height: auto;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.text-right {
    text-align: right;
}
.error-message {
	margin-top:15px;
	font-weight:bold;
}
